* {
   margin: 0;
   padding: 0;
   border: 0;
   list-style: none;
   text-decoration: none; 
}

#slider {
    width: 100%;
    height: 100vh;
}

img {
     width: 100%;
     height: 100vh;
     position: absolute;
}

.chevron {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 50px;
    background: white;
    opacity: 0;
    transition: .5s;
}

.slideLeft {
   left: 0px;  
}

.slideRight {
    right: 0px;
}

.chevron:hover {
    opacity: .3;
    cursor: pointer;
}





